body{
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100vh;
 flex-direction: column;
}
.main{
 border-radius: 10px;
 height: 60vh;
 width: 80vw;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 background-color: white;
}
form{
 height: 45vh;
 width: 60vw;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
}
img{
 margin-bottom: 35px;
}
#i1,#i2{
 margin: 4px;
 width: 70%;
 height: 24px;
}
button{
 margin: 5px;
 width: 72%;
 height: 28px;
 background-color: rgb(83, 148, 235);
 color: white;
 border: none;
 border-radius: 3px;
 
}
.sec{
 border: 1px solid  gainsboro;
 width: 60vw;
 margin-top: 10px;
 display: flex;
 justify-content: center;
 background-color: white;


}
span{
 color: rgb(83, 148, 235);
}
input{
 border: 1px gainsboro solid;
 border-radius: 4px;
 padding-left: 5px;
 background-color: rgb(246, 246, 248);
 margin-bottom: 20px;
}
form{
 width: 80vw;
 height: 100vh;
}
.sec{
 border: none;
}